
body{
    margin: 0 auto;
}

nav{
    color:white;
}


#topDic{
    background-color: brown;
    padding: 5px 10px 5px 10px; 
}

.dictionary{
    color: white;
}
#lDic{
    padding-left: 10%;
}

#rDic{
   float: right;
   padding-right: 10%;
}


#navigator{
    background-color: rgb(43, 39, 39);
    padding: 20px 20px;
}

.inList{
    display: inline;
    padding: 0 5px;
}

#logo{
    float: left;
    padding-left: 9%;
    padding-right: 10%;
}

li.inList{
    display: none;
}

.innerUl{
    display: inline;
    padding-left: 0;
    padding-right: 2%;
}



#extraCont{
    width: 23%;
    height: 500px;
    float: right;
    margin-right: 7%;
    text-align: left;
}
#exTitle{
    font-size: 2ex;
    color: black;
    margin-bottom: 5%;
}
#exTitle:hover{
    color:white;
    background-color: brown;
}

li{
    list-style-type: none;
}

.exItem{
    color:brown;
    padding: 4% 0;
}
li.exItem:hover a.exItem{
    color:white;
}


li.exItem:hover{
    background-color: brown;
}

article{
    width: 55%;
    padding-left: 10%;
}

.big{
    margin: 30px;
}

h1{
    color: grey;
    font-size: 250%;
    font-weight: lighter;
}

#intro{
    color: brown;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#lofts{
    width: 20em;
    float: right;
    padding-top: 20px;
}

#livQuote{
    width: 70%;
    margin: 0 auto;

}

.livText{
    width: 45%;
    margin: 40px 40px 40px 0;
}


#disc{
    height: 40%;
}

#museum{
    float: left;
    margin-right: 20px;
}

footer{
    margin-top: 100px;
    background-color:  rgb(43, 39, 39);
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 80%;
}

#schoolName{
    font-size: larger;
}

.quote{
    font-style: italic;
    font-size: larger;
}

.cite{
    text-align: right;
    font-size: smaller;
    font-weight: bold;

}
