
body{
    margin: 0 auto;
}

hr{
    margin: 0;
}

nav{
    color:white;
}


body>div{
    margin: 0 auto;
    width: 950px;
    padding: 40px 0;
    overflow: hidden;
}


/* top dictionary */

.topDic{
    background-color: #a51417;
    color: white;
    height: 22px;
    padding: 3px 0;
    /* font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px; */
    font-size: 0.85em;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.topDic>div{
    margin: 0 auto;
    width: 950px;
}

.topDic>div>span{
    padding-top:2px;
}

.topDic a{
     color: white;
     text-decoration: none;
     font: inherit;
}


.lDic{
    float: left;
}

.lDic>a{
    padding: 0 10px;
}



.topDic a:hover{
    text-decoration: underline;
}

.rDic{
   float: right;
   /* line-height: 1.45; */
   padding-right: 9px;
}

.rDic>span{
    padding: 0 20px;
}


/* navigator */

 nav{
    background-color:#3c3d3d;
    padding: 0 180px 0 150px;
    font-family: "Libre Baskerville","Times New Roman",serif;
    font-size: 20px;
    /* overflow: hidden; */
}

 nav>ul{
    margin: 5px 0 0 0;
    padding: 15px 0 17px 0;
    /* width: 600px;  */
    float: right;
}

nav a{
    color: #fff;
    text-decoration: none;
}


#logo{
    width: 300px;
    float: left;
    padding: 15px 0 0 0;
}



 nav>ul>li{
    position: relative;
    display: inline;
    padding: 20px 15px;
}


 nav>ul>li>ul{ 
    margin: 0;
    display:none;
    position: absolute;
    top:59px;
    left: 0;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.785em;    
    width: 280px;
    padding: 10px 0 15px 0;
    background-color: inherit;
} 

 nav>ul>li:hover{
    background-color: #555;
    /* text-decoration: underline; */
}

 nav>ul>li>a:hover{
     text-decoration: underline;
 }

 nav>ul>li:hover>ul{
    display: block; 
}

nav>ul>li>ul>li{
    padding: 10px 0 10px 15px;

}    
nav>ul>li>ul>li:hover{
    background-color: #666;
    text-decoration: underline;
    /* cursor: pointer; */
}

.school{
    background-color:#4b4c4c;
    padding: 15px 0 15px 0; 
    top:360px;
    
}

.school>div{
    font-weight: 600;
    padding: 0 0 10px 15px;
    text-transform: uppercase;
}

.school>li{
    padding-left: 30px;
}



/* .school>li{
    padding: 10px 0 10px 5px;
} */







/* 
extraCont */

.extraCont{
    width: 240px;
    height: 422px;
    float: left;
}


.exList{
    padding: 0;
}

.exList>a{
    font-size: 2ex;
    color: black;
    margin-bottom: 5%;
    text-decoration: none;
}

.exList>li{
    padding: 15px 0 15px 10px;
}

.exList>li>a{
    color: brown;
    font-size: smaller;
    font-weight: 800; 
    text-decoration: none;
}

.exList>a:hover{
    color: brown;
    text-decoration: underline;
}

.exList li:hover a{
   text-decoration: underline;
}

li{
    list-style-type: none;
}


li.exItem:hover a.exItem{
    color:white;
}


li.exItem:hover{
    background-color: brown;
}



/* mainCont */


article>p{
    line-height: 150%;
}



.content{
    width: 650px;
    padding: 0 40px 0 0;
    float: left; 
}

.content>div{
    margin: 0;
    padding-right: 0;
}

h1{
    color: grey;
    font-size: 250%;
    font-weight: lighter;
}

#intro{
    color: brown;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#lofts{
    width: 20em;
    float: right;
    padding-top: 20px;
}

#livQuote{
    width: 70%;
    margin: 0 auto;

}

.livText{
    width: 45%;
    margin: 40px 40px 40px 0;
}




#museum{
    float: left;
    margin-right: 20px;
}

footer{
    margin-top: 100px;
    background-color:  rgb(43, 39, 39);
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 80%;
}

#schoolName{
    font-size: larger;
}

.quote{
    font-style: italic;
    font-size: larger;
}

.cite{
    text-align: right;
    font-size: smaller;
    font-weight: bold;
}
